body {
    background-color: #FFE6A7;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #99582A;
    width: auto;
    padding: 15px;
}

.titulo {
    font-size: 18px;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 0;
    width: auto;
    border-radius: 10px;
    font-weight: bold;
}

.busqueda {
    display: flex;
    justify-content: center;
    position: relative;
}

.busqueda input {
    width: 100%;
    padding: 8px 40px 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 560px;
    box-sizing: border-box;
}

.busqueda i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

/*no pude ver bien como hacer más grande el boton de busqueda donte está la lupa -luka*/
/*Logré ponerlo bien y con reacción esooooooo, lastima no esté dentro dentro pero
pero algo es algo jajs -luka*/

.busqueda i:hover {
    color: #000;
}

.usuario button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

}

.usuario button:hover {
    background-color: #74421e; 
}

.carrito button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
/*no pude centrar el texto de usuario junto a la imagen
capaz escribi algo mal o algo está afectado globalmente el código, aunque
lo hice funcional, usuario y carrito van a ir a sus respectivas páginas
(hasta que me confirmen si quieren asi o no)*/

.encabezado {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 20px 300px 0px 300px;
}

.encabezado p {
    
}