@import "tailwindcss";

/* Prueba visual fuerte: fondo crema para distinguir estilos cargados */

html, body, #root { height: 100%; background: #fffbeb; }

@theme {
  /*🌱cambiar por los del figma y establecer nombres especificos*/ /*listo -luka*/
  --color-bg:#FFE6A7;
  --color-navbar:#99582A;
  --color-footer:#BB9457;
  --color-bg-carrousel:#D9D9D9;
}

@layer components{
  .container-app { 
    @apply max-w-7xl mx-auto px-4; 
  }
  .btn-primary  { 
    @apply bg-yellow-400 
            hover:bg-yellow-300 
            text-gray-900 font-medium 
            rounded-xl 
            px-4 py-2 
            transition-colors; 
  }
  .card { 
    @apply bg-white 
            rounded-2xl shadow-[0_10px_25px_rgba(0,0,0,0.06)] 
            border border-gray-100; 
  }
}

/*🌱 Pasar el estilo de ⬇️abajo por como está arriba⬆️⬇*/

:root {
  @apply font-sans leading-6 font-normal
          text-white/90 bg-[#242424]
          antialiased
}

a {
  @apply font-medium text-[#646cff] decoration-inherit
}
a:hover {
  @apply text-[#535bf2]
}

body {
  @apply m-0 flex place-items-center min-w-320 min-h-100 min-h-screen
}

h1 {
  @apply text-5x1 leading-1.1
}

#app {
  @apply max-w-1280 m-auto p-8 text-center
  /*m-auto = margin: 0 auto; (no encontré lógica para el '0 auto') -luka*/
}

.logo {
  @apply h-[6em] p-6 will-change-filter transition-filter-300
  /*transition: filter 300ms; (no encontré forma lógica de interpretar esos 300ms)*/
}
.logo:hover {
  @apply filter drop-shadow-[0_0_2em_#646cffaa]
}
.logo.vanilla:hover {
  @apply filter drop-shadow-[0 0 2em #f7df1eaa]
}

.card {
  @apply p-8
}

.read-the-docs {
  @apply text-[#888]
}

button {
  @apply rounded-lg border border-transparent py-[0.6em] px-[1.2em] text-base font-medium font-[inherit] bg-[#1a1a1a] transition-colors duration-250 cursor-pointer
  /*border border-tranparent = border: 1px solid transparent;*/
}
button:hover {
  @apply border-[#646cff]
}

/*button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} falta apuesta en comun sobre como traducir esto -luka*/

@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547] bg-[#ffffff]
  }
  a:hover {
    @apply text-[#747bff]
  }
  button {
    @apply bg-[#f9f9f9]
  }
}