@import "tailwindcss";

@theme {
  --color-bg:#FFE6A7;
  --color-navbar:#99582A;
  --color-footer:#BB9457;
  --color-bg-carrousel:#D9D9D9;
}

@layer components {
  .header{
    @apply  w-full 
            p-3
            mx-5 
            flex 
            flex-col 
            text-center
  }
  .footer{
    @apply  border-t
            border-gray-100 
            p-6 
            mt-8 
            text-ms 
            text-gray-500
  }
  .boton-carro{
    @apply  inline-flex 
            items-center 
            justify-center 
            rounded-xl 
            px-4 
            py-2 
            font-medium 
            transition-colors
  }
  .sub-division{
    @apply  text-2xl
  }
}